::ng-deep .dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
}
::ng-deep .dx-datagrid .dx-data-row > td.bullet .bullet-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}