<div class="main-content">
  <div class="container-fluid">
    <!-- id,title,views,reactions,tags,body -->
    <dx-data-grid
      id="grid-posts"
      [dataSource]="dataSource"
      [showBorders]="true"
      [focusedRowEnabled]="true"
      [hoverStateEnabled]="true"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [height]="'100%'"
      [width]="'100%'"
      [remoteOperations]="false"
      [columnHidingEnabled]="false"
      [elementAttr]="{ id: 'elementId', class: 'center-header-text' }"
      (onCellPrepared)="onCellPreparedHandler($event)"
      (onSelectionChanged)="onSelectionChanged($event)"
    >
      <dxo-load-panel
        [enabled]="true"
        [text]="'Loading...'"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
        [shadingColor]="'rgba(0,0,0,0.4)'"
      ></dxo-load-panel>
      <dxo-scrolling [mode]="'on'" [showScrollbar]="'always'"> </dxo-scrolling>
      <dxo-filter-row [visible]="true" [applyFilter]="'auto'"> </dxo-filter-row>
      <dxo-header-filter [visible]="true"> </dxo-header-filter>
      <dxo-paging [pageSize]="15"> </dxo-paging>
      <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [allowedPageSizes]="[10, 15, 20, 25, 50, 100]"
      >
      </dxo-pager>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="false">
      </dxo-search-panel>
      <dxo-grouping [contextMenuEnabled]="true" [autoExpandAll]="true">
      </dxo-grouping>
      <dxo-group-panel [visible]="true" [allowColumnDragging]="true">
      </dxo-group-panel>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

      <dxi-column
        dataField="id"
        caption="ID"
        dataType="number"
        selectedFilterOperation="="
        allowHiding="false"
        width="auto"
      >
        <dxo-format [type]="'fixedPoint'" [precision]="0"></dxo-format>
      </dxi-column>
      <dxi-column
        dataField="title"
        caption="TITLE"
        dataType="string"
        selectedFilterOperation="contains"
        allowGrouping="true"
        allowHiding="false"
        width="auto"
      >
      </dxi-column>
      <dxi-column
        dataField="views"
        caption="VIEWS"
        dataType="number"
        selectedFilterOperation="between"
        allowHiding="false"
        width="auto"
        cellTemplate="cellviews"
      >
        <dxo-format [type]="'fixedPoint'" [precision]="0"></dxo-format>
        <div *dxTemplate="let mdl of 'cellviews'">
          <app-symbol
            [symbol]="'visibility'"
            [symbolcls]="'text-primary'"
            [value]="mdl.text"
          ></app-symbol>
        </div>
      </dxi-column>
      <dxi-column caption="REACTIONS" allowHiding="false">
        <dxi-column
          dataField="reactions.likes"
          caption="LIKES"
          dataType="number"
          selectedFilterOperation="between"
          allowHiding="false"
          width="auto"
          cellTemplate="celllikes"
        >
          <dxo-format [type]="'fixedPoint'" [precision]="0"></dxo-format>
          <div *dxTemplate="let mdl of 'celllikes'">
            <app-symbol
              [symbol]="'favorite'"
              [symbolcls]="'text-danger'"
              [value]="mdl.text"
            ></app-symbol>
          </div>
        </dxi-column>
        <dxi-column
          id="perc-likes"
          caption="(%) LIKES"
          selectedFilterOperation="between"
          allowHiding="false"
          width="auto"
          [calculateCellValue]="calculateRatioLikes"
          cellTemplate="cellperclikes"
        >
          <dxo-format [type]="'fixedPoint'" [precision]="2"></dxo-format>
          <div *dxTemplate="let mdl of 'cellperclikes'">
            <app-symbol
              [symbol]="'percent'"
              [symbolcls]="'text-warning'"
              [value]="mdl.text"
            ></app-symbol>
          </div>
        </dxi-column>
        <dxi-column
          dataField="reactions.dislikes"
          caption="DISLIKES"
          dataType="number"
          selectedFilterOperation="between"
          allowHiding="false"
          width="auto"
          cellTemplate="celldislikes"
        >
          <dxo-format [type]="'fixedPoint'" [precision]="0"></dxo-format>
          <div *dxTemplate="let mdl of 'celldislikes'">
            <app-symbol
              [symbol]="'thumb_down'"
              [symbolcls]="'text-secondary'"
              [value]="mdl.text"
            ></app-symbol>
          </div>
        </dxi-column>
        <dxi-column
          id="perc-dislikes"
          caption="(%) DISLIKES"
          selectedFilterOperation="between"
          allowHiding="false"
          width="auto"
          [calculateCellValue]="calculateRatioDislikes"
          cellTemplate="cellpercdislikes"
        >
          <dxo-format [type]="'fixedPoint'" [precision]="2"></dxo-format>
          <div *dxTemplate="let mdl of 'cellpercdislikes'">
            <app-symbol
              [symbol]="'percent'"
              [symbolcls]="'text-warning'"
              [value]="mdl.text"
            ></app-symbol>
          </div>
        </dxi-column>
      </dxi-column>
      <dxi-column
        dataField="tags"
        visible="true"
        caption="TAGS"
        dataType="string"
        selectedFilterOperation="contains"
        allowGrouping="true"
        allowHiding="true"
        hidingPriority="1"
      >
      </dxi-column>
      <dxi-column
        dataField="body"
        visible="true"
        caption="BODY"
        dataType="string"
        selectedFilterOperation="contains"
        allowGrouping="true"
        allowHiding="true"
        hidingPriority="0"
      >
      </dxi-column>

      <!-- <div
        *dxTemplate="let mdl of 'detail'"
        class="d-flex align-items-stretch mb-2"
      >
        <div class="p-2 d-flex flex-column gap-1">
          <div class="" *ngIf="mdl.data.tags && mdl.data.tags.length > 0">
            <span
              class="badge bg-warning text-dark border border-warning shadow-sm"
              *ngFor="let tag of mdl.data.tags"
            >
              {{ tag }}
            </span>
            <small *ngIf="!mdl.data.tags?.length" class="text-muted"
              >No tags</small
            >
          </div>
          <div class="p-2 flex-grow-1 bg-white" style="word-break: break-word">
            <p class="mb-0 small text-dark lh-base">
              {{ mdl.data.body }}
            </p>
          </div>
        </div>
      </div> -->

      <div *dxTemplate="let mdl of 'detail'" class="d-flex align-items-stretch">
        <div class="p-2 d-flex flex-column align-items-start">
          <ng-container
            *ngIf="mdl.data.tags && mdl.data.tags.length > 0; else noTags"
          >
            <span
              class="badge badge-{{ getRandomColor() }} mb-1 px-1"
              *ngFor="let tag of mdl.data.tags"
            >
              <h6 class="m-0">
                {{ tag }}
              </h6>
            </span>
          </ng-container>
          <ng-template #noTags>
            <small class="text-muted text-center italic">No tags</small>
          </ng-template>
        </div>

        <div class="p-2 flex-grow-1">
          <div class="mb-1 text-wrap">
            {{ mdl.data.body }}
          </div>
        </div>
      </div>
    </dx-data-grid>
  </div>
</div>
